{
  "presets": [
    [
      "@babel/preset-env", 
      {
        "targets": {
          "node": "8.11",
          "browsers": [
            "Firefox 57",
            "Chrome 60",
            "iOS 10",
            "Safari 10",
            "IE 11"
          ]
        },
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
